hr {
  margin-top: 0px;
}

.side-bar {
  margin-top: 10px;
}

.filter-container {
  display: flex;
  flex-wrap: wrap;
}

.filter {
  border-radius: 7px;
  font-size: 12px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border: 2px solid #dbdbdb;
  background: none;
  color: #000000;
}

.selected {
  border: 2px solid #1976D2 !important;
  background: #1976D2 !important;
  color: #ffffff !important;
}

.side-bar-divider {
  display: none;
}

@media (max-width: 800px) {
  .side-bar {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  .side-bar-divider {
    display: block;
  }
}